* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  font-size: clamp(1rem, 1.2vmax, 1.2rem);
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  &,
  * {
    --accent-color: #504dff;
    --accent-color--light: #eeeeff;
    --text-color: 36, 36, 36;
    --background-color: 255, 255, 255;
    --foreground-color: rgb(250, 252, 255);
    --danger-color: rgb(255, 75, 75);
    --green: #1cad59;
    --yellow: #f3a600;
    --loan-color: rgb(255, 171, 93);
    scrollbar-width: thin;
  }

  color: rgba(var(--text-color), 1);
  background: rgba(var(--background-color), 1);
}

body[data-theme="dark"] {
  &,
  * {
    --accent-color: #a3a1ff;
    --accent-color--light: rgba(142, 140, 255, 0.06);
    --text-color: 230, 230, 230;
    --text-color-light: 170, 170, 170;
    --background-color: 10, 10, 10;
    --foreground-color: rgb(24, 24, 24);
    --danger-color: rgb(255, 106, 106);
    --green: #00e676;
    --yellow: #ffd13a;
    --loan-color: rgb(255, 232, 170);
  }
  sm-popup::part(popup) {
    background-color: var(--foreground-color);
  }
}

p,
strong {
  font-size: 0.9rem;
  max-width: 70ch;
  line-height: 1.7;
  color: rgba(var(--text-color), 0.8);

  &:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }
}

a:where([class]) {
  color: inherit;
  text-decoration: none;

  &:focus-visible {
    box-shadow: 0 0 0 0.1rem rgba(var(--text-color), 1) inset;
  }
}

a {
  color: var(--accent-color);
}

button,
.button {
  user-select: none;
  position: relative;
  display: inline-flex;
  border: none;
  background-color: transparent;
  overflow: hidden;
  color: inherit;
  cursor: pointer;
  transition: transform 0.3s;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
}
.button {
  white-space: nowrap;
  padding: 0.6rem 1rem;
  border-radius: 0.3rem;
  background-color: rgba(var(--text-color), 0.06);
  color: rgba(var(--text-color), 0.8);
  justify-content: center;
  &--primary {
    background-color: var(--accent-color);
    color: rgba(var(--background-color), 1);
  }
}

button:disabled {
  opacity: 0.5;
}

a:any-link:focus-visible {
  outline: rgba(var(--text-color), 1) 0.1rem solid;
}

sm-input {
  font-size: 0.9rem;
  --border-radius: 0.3rem;
  --background: var(--accent-color--light);
}
sm-button {
  --padding: 0.7rem 1rem;
  &[variant="primary"] {
    .icon {
      fill: rgba(var(--background-color), 1);
    }
  }

  &[disabled] {
    .icon {
      fill: rgba(var(--text-color), 0.6);
    }
  }
  &.uppercase {
    letter-spacing: 0.05em;
  }
  &.danger {
    --background: var(--danger-color);
    color: rgba(var(--background-color), 1);
  }
}
ul {
  list-style: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.hide-completely {
  display: none !important;
}

.overflow-ellipsis {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.breakable {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.full-bleed {
  grid-column: 1/4;
}

.h1 {
  font-size: 1.5rem;
}

.h2 {
  font-size: 1.2rem;
}

.h3 {
  font-size: 1rem;
}

.h4 {
  font-size: 0.9rem;
}

.h5 {
  font-size: 0.8rem;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.grid-3 {
  grid-template-columns: 1fr auto auto;
}

.flow-column {
  grid-auto-flow: column;
}

.gap-0-5 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-1-5 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.text-align-right {
  text-align: right;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-right {
  margin-left: auto;
}

.align-self-center {
  align-self: center;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-end {
  justify-self: end;
}

.direction-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.interact {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s;
  -webkit-tap-highlight-color: transparent;
}

.observe-empty-state:empty {
  display: none;
}

.observe-empty-state:not(:empty) ~ .empty-state {
  display: none;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: rgba(var(--text-color), 0.8);
}

.button__icon {
  height: 1.2rem;
  width: 1.2rem;

  &--left {
    margin-right: 0.5rem;
  }

  &--right {
    margin-left: 0.5rem;
  }
}

.icon-button {
  padding: 0.6rem;
  border-radius: 0.8rem;
  background-color: var(--accent-color--light);
  height: max-content;
  .icon {
    fill: var(--accent-color);
  }
}
#confirmation_popup,
#prompt_popup {
  flex-direction: column;
  h4 {
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  sm-button {
    margin: 0;
  }
  .flex {
    padding: 0;
    margin-top: 1rem;
    sm-button:first-of-type {
      margin-right: 0.6rem;
      margin-left: auto;
    }
  }
}
#prompt_message {
  margin-bottom: 1.5rem;
}

button:active,
.button:active,
.interact:active {
  transform: scale(0.96);
}

.popup__header {
  display: grid;
  gap: 0.5rem;
  width: 100%;
  padding: 0 1.5rem 0 0.5rem;
  align-items: center;
  grid-template-columns: auto 1fr auto;
}

.popup__header__close {
  padding: 0.5rem;
  cursor: pointer;
}

.dropdown-wrapper {
  position: relative;
  z-index: 1;
}
.dropdown {
  top: 100%;
  right: 0;
  border-radius: 0.5rem;
  padding: 1.5rem;
  width: min(24rem, calc(100vw - 3rem));
  position: absolute;
  background-color: var(--foreground-color);
  border: solid thin rgba(var(--text-color), 0.1);
  box-shadow: 0 0.5rem 1.5rem -0.5rem rgba(0, 0, 0, 0.1);
}

#main_page {
  padding: 1.5rem;

  & > section:nth-of-type(1) {
    align-content: flex-start;
  }
}
.logo {
  display: grid;
  align-items: center;
  width: 100%;
  grid-template-columns: auto 1fr;
  gap: 0 0.3rem;
  margin-right: 1rem;

  h4 {
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: 600;
  }

  .main-logo {
    height: 1.4rem;
    width: 1.4rem;
    fill: rgba(var(--text-color), 1);
    stroke: none;
  }
}
details {
  summary {
    display: flex;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;
  }

  &[open] > summary {
    margin-bottom: 1rem;
    .icon {
      transform: rotate(180deg);
    }
  }
}
strip-select {
  --gap: 0;
  background-color: var(--accent-color--light);
  border-radius: 0.3rem;
}
strip-option {
  font-weight: 500;
  font-size: 0.8rem;
  --border-radius: 0;
  --active-option-color: rgba(var(--background-color), 1);
  --active-option-background-color: var(--accent-color);
  &:first-of-type {
    --border-radius: 0.3rem 0 0 0.3rem;
  }
  &:last-of-type {
    --border-radius: 0 0.3rem 0.3rem 0;
  }
}
sm-select,
sm-option {
  font-size: 0.9rem;
}
sm-checkbox {
  --height: 1rem;
  --width: 1rem;
  -webkit-tap-highlight-color: transparent;
}
.warning {
  background-color: khaki;
  color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  border-radius: 0.5rem;
  line-height: 1.5;
}
.page-layout {
  display: grid;
  grid-template-columns: 1.5rem minmax(0, 1fr) 1.5rem;
  & > * {
    grid-column: 2/3;
  }
}
.page {
  height: 100%;
}
#landing {
  grid-template-rows: auto 1fr;
  header {
    padding: 1.5rem 0;
  }
  & > .grid {
    align-content: flex-start;
    text-align: center;
    gap: 1rem;
  }
}

#sign_in,
#sign_up {
  grid-template-rows: auto 1fr;
  align-items: center;
  section {
    margin-top: -6rem;
    justify-self: center;
    width: min(24rem, 100%);
  }
  sm-form {
    margin: 2rem 0;
  }
  header {
    padding: 1.5rem 0;
  }
}
#sign_up {
  sm-copy {
    font-size: 0.9rem;
    --button-border-radius: 0.5rem;
  }
  .h2 {
    margin-bottom: 0.5rem;
  }
  .card {
    margin: 1.5rem 0;
  }
  h5 {
    font-weight: 500;
    color: rgba(var(--text-color), 0.8);
  }
  .warning {
    margin-top: 2rem;
  }
}
#loading {
  place-content: center;
  text-align: center;
  sm-spinner {
    margin-bottom: 1.5rem;
  }
}
#home {
  height: 100%;
  display: grid;
  align-items: flex-start;
  align-content: flex-start;
  grid-template-columns: minmax(0, 1fr);
}
#login_form__priv_key {
  margin-top: 1rem;
}

#main_header {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: grid;
  gap: 1rem;
  align-items: center;
  grid-template-columns: 1fr auto auto;
  grid-column: 1/-1;
}

#trade_form,
#login_form {
  align-self: flex-start;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}
#quantity_selector {
  .button {
    flex: 1;
    padding: 0.5rem 0.6rem;
    margin-left: 0.5rem;
  }
}
#quantity_type {
  font-size: 0.8rem;
  padding-right: 0.5rem;
  border-right: thin solid rgba(var(--text-color), 0.3);
  margin-right: auto;
  color: rgba(var(--text-color), 0.8);
  line-height: 1.5;
  font-weight: 500;
  min-width: 8ch;
}
#my_orders_section,
#market_orders_section {
  padding-top: 1rem;
  .icon {
    height: 1.2rem;
    width: 1.2rem;
  }
}
.orders_section__header {
  padding: 0 1.5rem;
}
#orders_section__header--primary {
  height: 2.4rem;
  sm-tab-header {
    --gap: 1.5rem;
  }
  sm-tab {
    font-size: 0.9rem;
    --padding: 0.8rem 0;
  }
}

.list__item {
  padding: 0.5rem 1.5rem;
  display: grid;
}
.order-card {
  position: relative;
  outline: none;
  user-select: none;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  grid-template-columns: min-content repeat(3, 1fr) min-content;
  &__type {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
  }

  &[data-type="buy"] &__type {
    color: var(--green);
  }

  &[data-type="sell"] &__type {
    color: var(--danger-color);
  }
  &--selected {
    background-color: rgba(var(--text-color), 0.08);
    .cancel-order {
      visibility: hidden;
      pointer-events: none;
    }
  }
  sm-checkbox {
    padding: 1rem;
    cursor: pointer;
  }
  &__quantity,
  &__price {
    font-size: 0.9rem;
    color: rgba(var(--text-color), 0.9);
  }

  &__time {
    font-size: 0.8rem;
    color: rgba(var(--text-color), 0.8);
  }
}
.cancel-order {
  align-items: center;
  padding: 0.4rem 0.6rem;
  span {
    margin-left: 0.3rem;
  }
}

.transaction-card {
  grid-template-columns: repeat(3, 1fr) 2rem;
  &__type {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
  }
  &[data-type="Bought"] &__type,
  &--buy &__type {
    color: var(--green);
  }
  &[data-type="Sold"] &__type,
  &--sell &__type {
    color: var(--danger-color);
  }
  &__total {
    font-weight: 700;
    font-size: 0.9rem;
    color: rgba(var(--text-color), 0.8);
  }
  &__quantity,
  &__price {
    font-size: 0.9rem;
    color: rgba(var(--text-color), 0.9);
  }
}

#market_orders_list {
  .list__header {
    font-size: 0.8rem;
    font-weight: 500;
    div {
      padding: 0.5rem 0;
    }
  }
  .list__header {
    margin-bottom: 0.5rem;
    padding: 0 1.5rem;
    grid-template-columns: repeat(3, 1fr) 2rem;
  }
}
#user_section {
  gap: 1.5rem;
  padding: 1.5rem;
  align-content: flex-start;
}
.wallet_actions__wrapper {
  grid-column: span 3;
  gap: 0.5rem;
  margin-top: 0.5rem;
  .button {
    flex: 1;
  }
}
.label {
  font-size: 0.8rem;
  color: rgba(var(--text-color), 0.8);
  margin-bottom: 0.2rem;
}
.balance-card {
  display: grid;
  align-items: center;
  gap: 0.3rem 1rem;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  &.is-locked {
    grid-template-columns: auto 1fr;
    gap: 1rem;
  }
  &:not(.is-locked) {
    grid-template-columns: auto 1fr auto;
  }
  &__icon {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0.6rem;
    border-radius: 0.8rem;
    background-color: var(--accent-color--light);
    .icon {
      height: 1.3rem;
      width: 1.3rem;
      fill: var(--accent-color);
    }
  }
  &__token {
    font-size: 0.9rem;
    font-weight: 500;
  }
  &__amount-wrapper {
    grid-column: span 2;
    gap: 0.3rem 1rem;
    grid-template-columns: 1fr 1fr;
    & > :nth-child(even) {
      text-align: right;
    }
  }
}
.stateful-button-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  sm-button,
  slide-button {
    width: 100%;
    z-index: 1;
    transition: clip-path 0.3s;
    clip-path: circle(100%);
    &.clip {
      pointer-events: none;
      clip-path: circle(0);
    }
  }
  sm-spinner {
    position: absolute;
  }
}
.stateful-result {
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  left: 0;
  & > * {
    position: absolute;
  }
  &--success {
    .result__background {
      background-color: var(--green);
    }
  }
  &--failure {
    .result__background {
      background-color: var(--danger-color);
    }
  }
  .icon-wrapper {
    animation: pop 0.4s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: rgba(var(--background-color), 1);
  }
  span {
    font-weight: 500;
    color: rgba(var(--background-color), 1);
  }
  .result__background {
    animation: ripple-reveal 1s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}
.result__background {
  border-radius: 0.3rem;
  height: 100%;
  width: 100%;
  clip-path: circle(10%);
}
@keyframes pop {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes ripple-reveal {
  to {
    clip-path: circle(100%);
  }
}
@media screen and (max-width: 40rem) {
  #main_header {
    padding: 0 1.5rem;
  }
  sm-button {
    --padding: 0.9rem 1.6rem;
  }
  #home {
    & > :last-child {
      padding-bottom: 5rem;
    }
  }
  #bottom_nav {
    position: fixed;
    bottom: 0;
    background-color: var(--foreground-color);
    width: 100%;
  }
  .bottom_nav__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 0.5rem 0;
    .item__title,
    .icon {
      transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .item__title {
      color: rgba(var(--text-color), 0.8);
      font-size: 0.8rem;
      font-weight: 500;
    }
    .icon {
      height: 1.2rem;
      margin-bottom: 0.3rem;
    }
    &--active {
      .item__title {
        color: var(--accent-color);
        transform: translateY(100%);
        opacity: 0;
      }
      .icon {
        transform: translateY(50%) scale(1.2);
        fill: var(--accent-color);
      }
    }
  }
  .hide-on-mobile {
    display: none;
  }
}
@media screen and (min-width: 40rem) {
  sm-popup {
    --width: 24rem;
  }
  .h1 {
    font-size: 2rem;
  }

  .h2 {
    font-size: 1.8rem;
  }

  .h3 {
    font-size: 1.3rem;
  }

  .h4 {
    font-size: 1rem;
  }
  .popup__header {
    padding: 1rem 1.5rem 0 0.5rem;
  }
  #confirmation_popup {
    --width: 24rem;
  }
  .page-layout {
    grid-template-columns: 1fr 90vw 1fr;
  }
  #home {
    padding: 0 4vmax;
    gap: 1rem;
  }
  .hide-on-desktop {
    display: none;
  }
  .card {
    border-radius: 0.5rem;
    background-color: var(--foreground-color);
    border: solid thin rgba(var(--text-color), 0.1);
  }
}
@media screen and (min-width: 48rem) {
  #home {
    grid-template-rows: min-content 1fr;
    grid-template-columns: 24rem minmax(0, 1fr);
  }
  #orders_section {
    grid-row: span 2;
  }
  #orders_list,
  #market_orders_list {
    height: 36vmin;
    overflow-y: auto;
  }
}
@media screen and (max-width: 64rem) {
}
@media screen and (min-width: 72rem) {
  .page-layout {
    grid-template-columns: 1fr 80vw 1fr;
  }
  #home {
    grid-template-columns: 24rem minmax(0, 1fr) 20rem;
  }
}
@media screen and (min-width: 120rem) {
  .page-layout {
    grid-template-columns: 1fr 70vw 1fr;
  }
}
@media (any-hover: hover) {
  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(var(--text-color), 0.3);
    border-radius: 1rem;

    &:hover {
      background: rgba(var(--text-color), 0.5);
    }
  }
  .interact,
  button {
    transition: background-color 0.3s, transform 0.3s;
    &:hover {
      background-color: var(--accent-color--light);
    }
  }
  .order-card {
    .cancel-order {
      justify-self: flex-end;
      overflow: hidden;
      .icon,
      span {
        transition: opacity 0.3s, transform 0.3s;
      }
      .icon {
        opacity: 0;
        transform: translateX(100%);
      }
      span {
        transform: translateX(100%);
        opacity: 0;
      }
    }
    &:hover,
    &:focus-within {
      .cancel-order {
        .icon {
          opacity: 1;
        }
      }
    }
    .cancel-order:hover {
      .icon,
      span {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
  .transaction-card {
    button {
      opacity: 0;
      transition: opacity 0.3s;
    }
    &:hover button {
      opacity: 1;
    }
  }
}
